Checks: '-*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  clang-analyzer-nullability.*,
  clang-analyzer-valist.*,
  clang-analyzer-optin.performance.*,
  clang-analyzer-optin.cplusplus.*,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-core.CallAndMessageModeling,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-avoid-bind,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-explicit-virtual-functions,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,
  -performance-no-automatic-move,
  -modernize-use-auto,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes'
CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: WinMain,SDL_main
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: 1
FormatStyle: 'file'